html {
	width: 100%;
	font-size: 10px;
	font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-align: center;
}

.mpadding{
	padding: 40px 0;
}

.hr hr{
	width: 30%;
	border:none;
	height: 2px;
	background-color: pink;
}

.content {
	display: grid;
}

.btn {
	text-transform: uppercase;
}

.head {
	display: grid;
	grid-row-gap: 5px; 
}

.head .heading {
	font-size: 24px;
	font-weight: 800px;
}

.head .sub {
	font-size: 14px;
	font-weight: 800px;
}

.title {
	font-size: 16px;
	text-transform: uppercase;
}



.cover, .services, .venues, 
.bars, .about, .locations,.testimonials, .contact {
	display: grid;
	grid-template-columns: 1fr;
}

.cover-cont, .cover-form, .form, .services-cont, 
.cover-cont .head, .venues .items, .bars .items, 
.about-cont, .locations-cont, .contact-cont {
	display: grid;
	grid-template-columns: 1fr;
	width: 90%;
	justify-self: center;
}

.cover {
	background-image: linear-gradient(to bottom, rgba(83,103, 202, 0.5), rgba(83,103, 202, 0.5)),  url(img/cover-pic03.jpg);
	background-repeat: no-repeat;
	background-size: cover; 
	font-size: 2rem;
}

.cover-cont {
	grid-row-gap: 15px;
}

.cover-cont .select {
	opacity: 0.8;
	height: 30px;
}

.cover-cont .select select {
	border: none;
	width: 100%;
	height: 100%;
}

.cover-form .form {
	grid-template-rows: 1fr 1fr 1fr;
	grid-row-gap: 15px;
}

.cover-cont .head {
	grid-template-rows: auto;
	grid-row-gap: 10px;
}

.cover-cont .btns {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
}

.cover .btn {
	background-color: #ac1313;
	border:none;
}

.cover-cont .searches{
	display: grid;
}

.cover-cont .app-ops {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr;
	text-align: center;
	grid-row-gap: 10px;
}

.app-ops .options {
	display: grid;
	grid-template-columns: 2fr 1fr 1fr 2fr;
	grid-template-rows: 1fr;
}

.app-ops .icons:first-child{
	grid-column: 2;
}

.services-cont {
	width: 90%;
	justify-self: center;
	grid-row-gap: 30px;
}

.services-cont .item, 
.venues-cont .item,
.bars-cont .item {
	display: grid;
	grid-template-rows: auto;
	grid-template-columns: 1fr;
	grid-row-gap: 10px;
	width: 90%;
	justify-self: center;
}
img{
	width: 100%;
	border-radius: 5px;
}

.venues .img, .bars .img{
	width: 93%;
	justify-self: center;
}

.services-cont .text, .services .more {
	text-align: left;
}

.services-cont .items, 
.venues-cont .items,
.bars-cont .items{
	display: grid;
	grid-template-rows: auto;
	grid-template-columns: 1fr;
	grid-row-gap: 25px;
}

.services-cont .items .item {
	display: grid;
	grid-template-rows: auto;
	grid-template-columns: 1fr;
}

.venues-cont, .bars {
	width: 100%;
}

.venues-cont, .bars {
	grid-template-rows: auto;
	grid-row-gap: 20px;
}

.venues .content, .bars .content{
	padding: 20px 0;
}

.venues-cont .head, 
.bars .head {
	display: grid;
	grid-template-rows: auto;
	grid-template-columns: 1fr;
	grid-row-gap: 15px;
}

.pricing {
	font-size: 12px;
}

.venues-cont .items .item, 
.bars-cont .items .item {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	background-color: #f1f1f1b8;
    box-shadow: 2px 5px #efebeb;
}

.venues-cont .item .details, 
.bars-cont .item .details{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-auto-rows: 1fr 1fr;
	font-size: 12px;
}

.venues-cont .items .points, 
.venues-cont-cont .items .place, 
.bars-cont .items .place {
	grid-row: 2;
}

.venues-cont .items .points, 
.bars-cont .items .points{
	grid-column: 2;
	grid-row: 1;
	justify-self: end;
 	width: 23px;
    height: 15px;
    background-color: red;
    color: white;
    display: grid;
    border-radius: 2px;
}

.name, .pricing, .place{
	text-align: left;
	justify-self: baseline;
} 

.points p{
	justify-self:center;
	align-self: center;
}

.venues-cont .img, .bar .img {
    width: 95%;
    justify-self: center;
}

.venues-cont .items .details, 
.venues-cont .pricing,
.bars-cont .items .details, 
.bars-cont .pricing {
	width: 90%;
	justify-self: center;
}  

.venues .item, .bars .item {
    background-color: white;
    padding: 10px 0;
    border-radius: 5px;
}


.about-cont {
	grid-template-rows: auto;
	grid-row-gap: 15px;
}

.about-cont .items, .loactions-cont .items {
	display: grid;
	grid-template-rows: auto;
	grid-template-columns: 1fr;
	grid-row-gap: 10px;
}

.about-cont .icon img {
	width: 25%;
}

.locations-cont .icon img {
	width: 50%;
}

.about-cont .items, .locations-cont .items{
	display: grid;
	grid-template-rows: auto;
	grid-template-columns: 1fr;
	grid-row-gap: 20px;
}

.about-cont .item, .locations-cont .item {
	display: grid;
	grid-template-rows: auto;
	grid-template-columns: 1fr;
	grid-row-gap: 8px;
}

.about .text , .locations .text {
	font-size: 12px;
}

.contact-cont {
	grid-row-gap: 30px;
	text-align: left;
}

.contact-cont .headder {
	display: grid;
	grid-template-columns: 30% 70%;
	grid-template-rows: 1fr;
	grid-column-gap: 10px;
	align-items: center;
}

.contact .links {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
}

.contact .links .items {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	text-align: left;
}

.hidden-items{
	display: none;
}

.contact {
	background-color: #a2a0a0e3;
    color: #ececec;
    font-size: 2rem;
}

.contact .imgs img {
	height: 100%;
}

.contact .content {
	grid-row-gap: 15px;
}

.contact .address {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	
}

.contact .detail {
	grid-column: 1;
	grid-row: 2;
}

.contact .social {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-row: 1 / span 2;
}

.social .icons {
	justify-self: center;
	align-self: center;
}

@media screen and (min-width: 768px){

	.cover {
		padding-top: 0;
		grid-template-rows: 1fr 1fr;
	}

	.cover-cont {
		grid-row: 2;
	}

	.cover-cont .form {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;
	}

	.cover-cont .select select {
		width: 100%;
	}

	.cover-cont .btns {
		grid-column: 1 / sapn 2;
   	 	width: 50%;
    	justify-self: center;
	}

	.services-cont .items, .venues .items, .bars .items {
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 1fr;
	}

	.services .items img, .venues .items img, .bars .items img {
		height: 150px;
	}

	.about .items {
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 1fr;
	}

	.locations-cont .items {
		grid-template-rows: 1fr;
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}

	.more {
		display: none;
	}

	.hidden-items{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
	}

	.contact .address {
		grid-row-gap: 15px;
		grid-template-columns: 1fr 2fr;
		align-items: center;
	}

	.contact .address .title{
		align-self: center;
	}

	.contact .address .detail{
		grid-column: 2;
		grid-row: 1;
   		display: grid;
   		grid-template-columns: 1fr 1fr 1fr 1fr;
   		grid-template-rows: 1fr;
   		grid-column-gap: 5px;
	}

	.contact .social {
	    grid-column: 1 / span 2;
	    grid-row: 2;
    	grid-template-columns: 1fr 1fr 1fr 1fr;
    	align-self: center;
	}

}
@media screen and (min-width: 992px){

	.cover .form {
		grid-template-columns: auto auto auto;
		grid-template-rows: 1fr;
	}
	.cover .btns {
		grid-column: 3;
    	width: 100%;
	}

	.services .items img, 
	.venues .items img, 
	.bars .items img {
    	height: 250px;
	}

	.contact-cont {
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 1fr;
		grid-column-gap: 15px;
	}

	.contact .headder .imgs {
		width: 50%
	}

	.contact .address {
	    grid-template-columns: 1fr 1fr;
   		grid-template-rows: auto auto;	
   	}

   	.contact .content .title {
   		align-self: center;
   	}

   	.contact .address .detail, .contact .social {
   		grid-row: 2;
   	}

   	.contact .social {
   		grid-column: 2;
   	}

   	.contact .address .detail {
   		grid-column: 1;
   		grid-template-columns: 1fr;
   		grid-template-rows: auto;
   		grid-row-gap: 5px;
   	}

   	.contact .content .links {
    	grid-template-columns: 1fr 1fr;
   	    grid-template-rows: auto;
	}

	.contact .headder {
		grid-template-columns: 1fr;
		grid-template-rows: auto auto;
	}

	.contact .more{
		display: hidden;
	}

	.contact .content {
		grid-template-rows: auto auto;
		grid-template-columns: 1fr;
	}

	.contact .content .links {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto;
	}

	.hidden-items, .contact .links .items {
	    display: grid;
	    grid-template-columns: 1fr;
	    grid-row: auto;
	}
}





.__fWhite {
	color: #fff;
}

.__font102{
	font-size: 1.2em;
}

.__font108 {
	font-size: 1.8em;
}

.__font105 {
	font-size: 1.5em
}

.__font1036 {
	font-size: 1.36em;
}

.__font105 {
	font-size: 1.5em;
}

.__font09 {
	font-size: 0.9em;
}

.__font08{
	font-size: 0.8em;
}

.__font2 {
	font-size: 2em;
}

.__font03 {
	font-size: 0.3em;
}

.__font06 {
	font-size: 0.6em;
}

.__font07 {
	font-size: 0.7em;
}